* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  background: rgb(24, 24, 24);
  color: white;
}
main {
  width: 80%;
  margin: 0 auto;
}
header {
  text-align: center;
  font-size: 32px;
  padding: 24px 0;
}
#users {
  display: flex;
  justify-content: center;
  gap: 80px;
}
#users .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
#users .turn {
  color: green;
}
#users .score {
  font-size: 48px;
}
#score-input {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 100%;
}
#score-input #input {
  display: flex;
  justify-content: center;
}
#score-input #input input {
  border: none;
  outline: none;
  padding: 6px 12px;
  text-align: center;
  font-size: 24px;
  border-radius: 12px;
}
#score-input #keypad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 12px;
  margin-top: 24px;
}
#score-input #keypad button {
  padding: 24px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #cfcfcf;
}
#zero {
  grid-column: 1 / -1; /* span all columns */
}
#keypad button:hover {
  background: #ffffff;
  cursor: pointer;
}
#submit button {
  background: green;
  border-radius: 5px;
  margin-top: 24px;
  outline: none;
  border: none;
  width: 100%;
  padding: 16px;
  font-size: 24px;
  font-weight: 700;
  color: white;
}
#submit button:hover {
  background: rgb(0, 97, 0);
  cursor: pointer;
}
