* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  background: rgb(24, 24, 24);
  color: white;
}
main {
  width: 80%;
  margin: 0 auto;
}
header {
  text-align: center;
  font-size: 3.2rem;
  padding: 2.4rempx 0;
}
.hidden {
  display: none;
}
